
@import "../../styles.scss";

h3{
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

.container{
    @include flex(center, center, column);
    margin-top: 50px;
}

.todos-box{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 500px;
    height: 700px;
    box-shadow: 3px 7px 33px 4px #E9EBEC;
    border-radius: 6px;
    border: 1px solid $border-color;
    overflow: scroll;
}

ul{
    margin-top: 2px;
    padding: 0;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}