@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import "../../styles.scss";

.inactive {
    display: none;
}

$text-color-button: #f7f9fa;
$border-color-button: #1E1E20;

.header-container {
    &__add-todo-btn {
        font-family: $font-secondary;
        color: $text-color-button;
        font-size: 13px;
        border: 1px solid $border-color-button;
        border-radius: 5px;
        margin-right: 12px;
        cursor: pointer;
        text-align: center;
        width: 140px;
        height: 38px;

        &--black-bg {
            background-color: $btn;
        }

    }
}