@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import "../../styles.scss";

.header-container {
    &__add-todo-btn {
            &--black-bg{
                background-color: $btn;
                
            }
        font-family: 'Roboto', sans-serif;
        color: #f7f9fa;
        border-radius: 5px;
        
        cursor: pointer;
        text-align: center;
        width: 130px;
        height: 35px;
    }
}