@import "../../styles.scss";

.container {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 4px;
    margin: 0px 12px 12px;
}

.info-todos {
    margin-left: 20px;
    flex-grow: 1;

    &--font {
        font-family: $font-main;
        color: $font-color;
        font-size: 16px;
        font-weight: bold;
    }

    .todos-date {
        &--font {
            font-family: $font-secondary;
            font-weight: lighter;
        }
    }
}

.bubbles {
    @include flex(center, center);
    cursor: pointer;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 3px solid $work-badge-color;
}

.badges-todos {
    cursor: default;
    margin-left: 10px;
    &--font {
        font-family: $font-main;
        font-size: 12px;
        font-weight: bold;
        color: $font-color;
    }
  
    &__badge {
        border-radius: 3px;
        padding: 7px;
        margin: 0 6px;
        display: inline-block;

        &--color {
            background-color: $badges;
        }        
    }
}