/* You can add global styles to this file, and also import other style files */
:root {}

$btn: #3a3a3c;
$primary-color: #ffff;
$border-color: #e5e6eb;
$badges: #e9ebec;

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}