/** variables*/
$btn: #3a3a3c;
$primary-color: #ffff;
$border-color: #e5e6eb;
$font-color: #1E2021;
$badges: #F1F2F6;
$work-badge-color: #e7463d;
$personal-badge-color: #5954d0;
$shop-badge-color: #5EC6F6;

@font-face {
    font-family: 'Trueno';
    src: url("./assets/fonts/Trueno.otf");
}
@font-face {
    font-family:'TruenoLt';
    src: url("./assets/fonts/TruenoLt.otf");
}
$font-main: 'Trueno', sans-serif;
$font-secondary: 'TruenoLt', sans-serif;

/** mixin functions */
@mixin flex($justify: flex-start, $align: flex-start, $direction: row, $wrap: wrap) {
    align-items: $align;
    display: flex;
    justify-content: $justify;
    flex-flow: $direction $wrap;
}


/** general style*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}