/* You can add global styles to this file, and also import other style files */
$btn: #3a3a3c;
$primary-color: #ffff;
$border-color: #e5e6eb;
$badges: #F1F2F6;

@font-face {
    font-family: 'Trueno';
    src: url("./assets/fonts/Trueno.otf") format("Open Type");
}
$font-main: 'Trueno', sans-serif;

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}